apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: pvc-db-tmp
  namespace: database
spec:
  resources:
    requests:
      storage: 1000Mi
  accessModes:
    - ReadWriteMany
  storageClassName: longhorn