apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: pvc-kavita-conf
  namespace: default
spec:
  resources:
    requests:
      storage: 5Gi
  accessModes:
    - ReadWriteOnce
  storageClassName: longhorn