apiVersion: secrets.hashicorp.com/v1beta1
kind: VaultStaticSecret
metadata:
  name: vault-pull
  namespace: default
  annotations:
    argocd.argoproj.io/sync-options: SkipDryRunOnMissingResource=true
    argocd.argoproj.io/sync-wave: "10"

spec:
  type: kv-v2

  # mount path
  mount: kv-v2

  path: ghcr
  refreshAfter: 30s

  destination:
    name: ghcr-secret
    type: kubernetes.io/dockerconfigjson
    create: true
    type: "kubernetes.io/dockerconfigjson"
    transformation:
      excludeRaw: true
      excludes:
        - ".*"
      templates:
        ".dockerconfigjson":
          text: |
            {{- $user := .Secrets.username -}}
            {{- $token := .Secrets.token -}}
            {{- $auth := printf "%s:%s" $user $token | b64enc -}}
            {
              "auths": {
                "ghcr.io": {
                  "auth": "{{ $auth }}"
                }
              }
            }
  # Name of the CRD to authenticate to Vault
  vaultAuthRef: default-auth