---
apiVersion: cert-manager.io/v1
kind: Certificate
metadata:
  name: cnpg-server-cert
  namespace: cert-manager
spec:
  secretName: cnpg-server-cert
  usages:
    - server auth
  dnsNames:
    - cnpg-cluster-lb.dartus.fr
    - cnpg-cluster-rw
    - cnpg-cluster-rw.default
    - cnpg-cluster-rw.default.svc
    - cnpg-cluster-r
    - cnpg-cluster-r.default
    - cnpg-cluster-r.default.svc
    - cnpg-cluster-ro
    - cnpg-cluster-ro.default
    - cnpg-cluster-ro.default.svc
  commonName: cnpg-cluster-lb.dartus.fr
  issuerRef:
    name: selfsigned
    kind: ClusterIssuer
    group: cert-manager.io
  secretTemplate:
    annotations:
      replicator.v1.mittwald.de/replicate-to: "database,default"  # comma separated list of namespaces or regular expressions
    labels:
      cnpg.io/reload: ""