apiVersion: secrets.hashicorp.com/v1beta1
kind: VaultStaticSecret
metadata:
  name: coder-db-secret
  namespace: default
  annotations:
    argocd.argoproj.io/sync-options: SkipDryRunOnMissingResource=true
    argocd.argoproj.io/sync-wave: "10"

spec:
  type: kv-v2

  # mount path
  mount: kv-v2

  # path of the secret
  path: postgresql/coder

  # static secret refresh interval
  refreshAfter: 30s

  # Name of the CRD to authenticate to Vault
  vaultAuthRef: coder-auth

  destination:
    name: coder-db-secret
    create: true
    transformation:
      excludeRaw: true
      excludes:
        - ".*"
      templates:
        url:
          text: |
            {{- $user := .Secrets.username -}}
            {{- $pass := .Secrets.password -}}
            postgres://{{ $user }}:{{ $pass }}@cnpg-cluster-rw.database.svc.cluster.local:5432/code?sslmode=disable