# yaml-language-server: $schema=https://raw.githubusercontent.com/bjw-s-labs/helm-charts/refs/heads/main/charts/library/common/values.schema.json
---
defaultPodOptions: {}
  # affinity: 
  #   nodeAffinity:
  #     requiredDuringSchedulingIgnoredDuringExecution:
  #       nodeSelectorTerms:
  #       - matchExpressions:
  #         - key: "kubernetes.io/hostname"
  #           operator: In
  #           values:
  #           - nucoumouk

controllers:
  server:
    strategy: RollingUpdate
    pod:
      enableServiceLinks: false

    containers:
      main:
        image:
          repository: ghcr.io/immich-app/immich-server
          tag: v2.3.1@sha256:f8d06a32b1b2a81053d78e40bf8e35236b9faefb5c3903ce9ca8712c9ed78445
        env:
          <<: &env-common
            IMMICH_CONFIG_FILE: /conf/immich.json
            IMMICH_IGNORE_MOUNT_CHECK_ERRORS: true
            DB_HOSTNAME: "cnpg-cluster-rw.database.svc.cluster.local"
            DB_PORT: 5432
            DB_USERNAME: 
              valueFrom:
                secretKeyRef:
                  name: immich-db-secret
                  key: username
            DB_DATABASE_NAME: immich
            DB_PASSWORD:
              valueFrom:
                secretKeyRef:
                  name: immich-db-secret
                  key: password
          REDIS_HOSTNAME: 'redis-master.default.svc.cluster.local'
          REDIS_PORT: "6379"
          REDIS_PASSWORD:
              valueFrom:
                secretKeyRef:
                  name: immich-redis-secret
                  key: password

  machine-learning:
    strategy: RollingUpdate

    containers:
      main:
        image:
          repository: ghcr.io/immich-app/immich-machine-learning
          tag: v2.3.1@sha256:379e31b8c75107b0af8141904baa8cc933d7454b88fdb204265ef11749d7d908
        env:
          <<: *env-common
          # MPLCONFIGDIR: "/cache/matplotlib"

service:
  server:
    controller: server
    ports:
      http:
        port: &port 2283
  machine-learning:
    controller: machine-learning
    ports:
      http:
        port: 3003

ingress:
  server:
    className: "traefik-ingresses"
    enabled: true
    annotations:
      hajimari.io/enable: "true"
      hajimari.io/group: "Media"
      hajimari.io/icon: "camera"
      cert-manager.io/cluster-issuer: zerossl-prod
      acme.cert-manager.io/http01-edit-in-place: "true"
    hosts:
      - host: immich.dartus.fr
        paths:
          - path: /
            pathType: Prefix
            service:
              identifier: server
              port: http
    tls:
      - hosts:
        - immich.dartus.fr
        secretName: immich.dartus.fr-tls

persistence:
  photo:
    enabled: true
    type : persistentVolumeClaim
    existingClaim: pvc-photo
    globalMounts:
      - path: /usr/src/app/upload
        subPath: Photo
        readOnly: false
  config:
    enabled: true
    type : secret
    name: immich-secret
    globalMounts:
      - path: /conf

  cache:
    type: persistentVolumeClaim
    existingClaim: pvc-ml-cache
    advancedMounts:
      machine-learning:
        main:
          - path: /cache
            subPath: cache
          - path: /.cache
            subPath: dotCache

  matplotlib:
    type: emptyDir
    advancedMounts:
      server:
        main:
          - path: /config/matplotlib

  tmpfs:
    type: emptyDir
    advancedMounts:
      server:
        main:
          - path: /usr/src/app/.reverse-geocoding-dump
            subPath: geocoding
          - path: /usr/src/app/.transformers_cache
            subPath: transformers