apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: pvc-ml-cache
  namespace: default
spec:
  resources:
    requests:
      storage: 3Gi
  accessModes:
    - ReadWriteOnce
  storageClassName: longhorn